.wrapper-login {
    position: absolute;
    right: 0;
    left: 0;
    top: 14%;
}

.logo {
    display: block;
    width: 420px;
    margin: 0px auto 20px;
    border-radius: 20px;
    padding: 7px 25px 7px 25px;
}

.form-holder {
    background: #ffffff;
    width: 430px;
    max-width: 90%;
    padding: 25px 50px;
    border-radius: 22px 0 22px 0;
    box-shadow: 1px 0px 12px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    margin: auto;
}
