<div class="wrapper-login">
    <img src="assets/images/logotipos/logotipo-zurich.svg" class="logo" alt="logo" />
    <div class="form-holder">
        <form class="form" autocomplete="off" [formGroup]="form" (ngSubmit)="event_recover_password()">
            <div class="grid">
                <div class="col-12">
                    <p-floatLabel>
                        <input class="w-full" pInputText id="correoElectronico" formControlName="correoElectronico" />
                        <label for="correoElectronico">Correo electrónico</label>
                    </p-floatLabel>  
                </div>
                <div class="col-12 text-center">
                    <p-button type="submit" class="w-full" styleClass="button-login" label="Continuar"
                        [raised]="true" />
                </div>
                <div class="col-12 text-center">
                    <p-button label="¿Ya recordaste tu contraseña?" [link]="true" (onClick)="event_return_login()" />
                </div>
            </div>
        </form>
    </div>
</div>