/* General */
$scale:14px;                    /* main font size */
$borderRadius:12px;             /* border radius of layout element e.g. card, sidebar */
$transitionDuration:.2s;        /* transition duration of layout elements e.g. sidebar, overlay menus */


@mixin focused() {
    outline: 0 none;
    outline-offset: 0;
    transition: box-shadow .2s;
    box-shadow: var(--focus-ring);
}

@mixin focused-inset() {
    outline: 0 none;
    outline-offset: 0;
    transition: box-shadow .2s;
    box-shadow: inset var(--focus-ring);
}
