@import "./assets/scss/primeng";
@import "./assets/scss/utils";
@import "./assets/scss/variables";


.p-breadcrumb {
    background: #ffffff;
    border: 0px solid #e5e5e5;
    border-radius: 4px;
    padding: 1rem;
}

.app-titulo {
    display: flex;
    align-items: center;
    color: #000 !important;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    padding: 0 0 0.77rem 0;
    margin-bottom: 1.5rem;
    // text-transform: uppercase;
    text-align: start;
}

.app-titulo:after {
    content: '';
    display: block;
    width: 1.3rem;
    height: 4px;
    border-radius: 4px;
    background: var(--primary-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.button-login {
    background-color: #000;
    color: #ffffff;
    width: 100%;
}