<div class="layout-topbar">
  <div class="top-bar-grid">
    <a class="layout-topbar-logo" routerLink="">
      <img src="assets/images/logotipos/logotipo-zurich.svg" alt="logo">
    </a>
    <div class="flex bg-gradient justify-content-between align-items-center">
      <div class="flex gap-2 align-items-center">
        <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="onToggleSidebar.emit()">
          <i class="pi pi-bars" style="color: white"></i>
        </button>
        <div class="search-bar">
          <input type="text" placeholder="Buscar...">
          <i class="pi pi-search"></i>
        </div>
      </div>
<!--      <button #topbarmenubutton>-->
<!--        <i class="pi pi-ellipsis-v"></i>-->
<!--      </button>-->
      <button class="profile-button">
        <i class="pi pi-user"></i>
<!--        <span>Profile</span>-->
      </button>
    </div>

  </div>


  <!--

  <div #topbarmenu class="layout-topbar-menu"
      [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
      <button class="p-link layout-topbar-button">
          <i class="pi pi-calendar"></i>
          <span>Calendar</span>
      </button>
      <button class="p-link layout-topbar-button">
          <i class="pi pi-user"></i>
          <span>Profile</span>
      </button>
      <button class="p-link layout-topbar-button" [routerLink]="'/documentation'">
          <i class="pi pi-cog"></i>
          <span>Settings</span>
      </button>  -->
</div>
